:root {
  --foreground: #eee;
  --background: #222;
  --accent: #a323ff;
  --border: #333;
  --success-border: #198754;
  --danger-border: #dc3545;
}

/* Reset padding and margin (to use 100vh) */
body {
  background-color: var(--background);
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Center all items in screen */
#timerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#timer {
  border: 3px solid var(--border);
  border-radius: 20px;

  padding: 2em;
  text-align: center;

  /* Align in one line */
  display: flex;
  align-items: center;
  gap: 0.75em;
}

#timer p {
  font-size: clamp(1em, 6vw, 5em);
}

#timer input {
  color: var(--foreground);

  font-size: clamp(1.5em, 5vw, 8em);
  height: 3em;
  width: 5em;

  text-align: center;

  background-color: #252525;
  border: none;
  border-radius: 8px;

  transition: background-color 100ms ease-out;
}

#timer input:focus {
  background-color: var(--border);
  outline: none;
}

.buttonWrapper {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  align-items: center;
}

.btn {
  color: var(--foreground);
  border-radius: 8px;
  padding: 1em;
  width: clamp(20em, 4vw, 25%);
  background: transparent;
  font-size: 1.1em;

  transition: background-color 150ms ease-out, box-shadow 150ms ease-out,
    transform 200ms ease-out, filter 500ms ease-out;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn.running {
  --success-border: rgb(190, 179, 20);
  color: transparent;
  position: relative;
}

.btn.running:after {
  color: var(--foreground);
  position: absolute;
  left: 50%;
  translate: -50%;
  content: 'Pause';
}

.btn.resume {
  --success-border: rgb(203, 106, 29);
  color: transparent;
  position: relative;
}

.btn.resume:after {
  color: var(--foreground);
  position: absolute;
  left: 50%;
  translate: -50%;
  content: 'Resume';
}

.btn-success {
  border: 2px solid var(--success-border);
}

.btn-danger {
  border: 2px solid var(--danger-border);
}

.btn-success:hover {
  background-color: var(--success-border);
}

.btn-danger:hover {
  background-color: var(--danger-border);
}

@keyframes pulseBrightness {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.1);
  }
}

.paused {
  -webkit-animation: pulseBrightness 500ms alternate infinite;
  animation: pulseBrightness 500ms alternate infinite;
}

#progressBar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  border-radius: 20px;
  background-color: var(--border);
}

#progressBarProgress {
  background: rgb(101, 0, 204);
  background: linear-gradient(
    90deg,
    rgba(101, 0, 204, 1) 31%,
    rgba(6, 83, 252, 1) 100%
  );
  width: 100vw;
  height: 30px;
  clip-path: inset(0% 100% 0% 0% round 20px);
  border-radius: 20px;
  transition: clip-path 0.5s;
}
